{% load static %}


<!DOCTYPE html>
<html lang="fa" dir="rtl">


<head>

<meta charset="UTF-8">

<title>
افزودن آدرس
</title>


<link rel="stylesheet" href="{% static 'css/add_address.css' %}">


</head>



<body>


<div class="address-container">


<h1>
افزودن آدرس جدید
</h1>



<form method="POST">


{% csrf_token %}



<div class="form-group">

<label>
نام کامل
</label>

<input 
name="full_name">

</div>



<div class="form-group">

<label>
شماره تلفن
</label>

<input 
name="phone">

</div>



<div class="form-group">

<label>
شهر
</label>

<input 
name="city">

</div>



<div class="form-group">

<label>
آدرس کامل
</label>

<textarea 
name="address"></textarea>

</div>



<button class="save-address">

ذخیره آدرس

</button>



</form>


</div>


</body>

</html>