{% extends "admin_base.html" %}

{% block title %}ویرایش مدیر{% endblock %}

{% block page_title %}
ویرایش مدیر
{% endblock %}

{% block breadcrumb %}
مدیریت مدیران / ویرایش مدیر
{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="card shadow">

        <div class="card-header">

            <h3 class="card-title">

                <i class="fas fa-user-edit text-warning"></i>

                ویرایش اطلاعات مدیر

            </h3>

        </div>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="card-body">

                <div class="row">

                    <div class="col-md-6">

                        <div class="form-group">

                            <label>نام کاربری</label>

                            <input
                                type="text"
                                name="username"
                                class="form-control"
                                value="{{ manager.username }}"
                                required>

                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">

                            <label>ایمیل</label>

                            <input
                                type="email"
                                name="email"
                                class="form-control"
                                value="{{ manager.email }}"
                                required>

                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">

                            <label>نوع حساب</label>

                            <select
                                name="role"
                                class="form-control">

                                <option value="admin"
                                    {% if not manager.is_superuser %}selected{% endif %}>
                                    مدیر
                                </option>

                                <option value="superadmin"
                                    {% if manager.is_superuser %}selected{% endif %}>
                                    سوپر ادمین
                                </option>

                                <div class="col-md-6">

    <div class="form-group">

        <label>
            عکس پروفایل مدیر
        </label>


        {% if manager.profile.image %}

            <div class="mb-3">

                <img 
                src="{{ manager.profile.image.url }}"
                class="img-circle elevation-2"
                style="
                width:100px;
                height:100px;
                object-fit:cover;
                ">

            </div>

        {% endif %}



        <input
            type="file"
            name="profile_image"
            class="form-control">


    </div>

</div>

                            </select>

                        </div>

                    </div>

                </div>

            </div>

            <div class="card-footer">

                <button class="btn btn-warning">

                    <i class="fas fa-save"></i>

                    ذخیره تغییرات

                </button>

                <a href="{% url 'admin_managers' %}" class="btn btn-secondary">

                    بازگشت

                </a>

            </div>

        </form>

    </div>

</div>

{% endblock %}