{% extends "admin_base.html" %}


{% block title %}
مدیریت بنرها
{% endblock %}


{% block page_title %}
مدیریت بنرها
{% endblock %}


{% block breadcrumb %}
بنرها
{% endblock %}



{% block content %}


<div class="card shadow">


<div class="card-header d-flex justify-content-between align-items-center">


<h3 class="card-title">

<i class="fas fa-images text-warning"></i>

لیست بنرها

</h3>


<a href="{% url 'admin_add_banner' %}" class="btn btn-primary">

<i class="fas fa-plus"></i>

افزودن بنر

</a>


</div>



<div class="card-body">


<table class="table table-bordered table-hover">


<thead>

<tr>

<th>تصویر</th>

<th>عنوان</th>

<th>نوع</th>

<th>وضعیت</th>

<th>ترتیب</th>

<th>عملیات</th>

</tr>

</thead>



<tbody>


{% for banner in banners %}


<tr>


<td>


{% if banner.image %}

<img src="{{ banner.image.url }}"
width="120"
class="img-thumbnail">


{% elif banner.video %}

<video width="120" muted>

<source src="{{ banner.video.url }}">

</video>

{% endif %}


</td>



<td>

{{ banner.title|default:"بدون عنوان" }}

</td>



<td>

{{ banner.get_banner_type_display }}

</td>



<td>

{% if banner.active %}

<span class="badge badge-success">

فعال

</span>

{% else %}

<span class="badge badge-danger">

غیرفعال

</span>

{% endif %}


</td>



<td>

{{ banner.order }}

</td>



<td>
    <a href="{% url 'admin_edit_banner' banner.id %}"
     class="btn btn-sm btn-warning">

     <i class="fas fa-edit"></i>

    </a>


<a href="{% url 'admin_delete_banner' banner.id %}"
class="btn btn-sm btn-danger"
onclick="return confirm('آیا از حذف این بنر مطمئن هستید؟')">

<i class="fas fa-trash"></i>

</a>

</td>


</tr>


{% empty %}


<tr>

<td colspan="6" class="text-center">

هنوز بنری ثبت نشده

</td>

</tr>


{% endfor %}



</tbody>


</table>


</div>


</div>



{% endblock %}