{% extends "admin_base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/admin_edit_product.css' %}?v=99">
{% endblock %}
{% block content %}

<div class="container-fluid">

<div class="card card-primary">

<div class="card-header">
<h3 class="card-title">
ویرایش محصول
</h3>
</div>

<form method="POST" enctype="multipart/form-data">

{% csrf_token %}

<div class="card-body">

<div class="form-group">
<label>نام محصول</label>
<input
type="text"
name="title"
class="form-control"
value="{{ product.title }}">
</div>

<div class="form-group">
<label>قیمت</label>
<input
type="number"
name="price"
class="form-control"
value="{{ product.price }}">
</div>

<div class="form-group">
<label>تخفیف (%)</label>
<input
type="number"
name="discount"
class="form-control"
value="{{ product.discount }}">
</div>

<div class="form-group">
<label>توضیحات</label>

<textarea
name="content"
class="form-control"
rows="6">{{ product.content }}</textarea>

</div>

<div class="form-group">

<label>عکس جدید</label>

<input
type="file"
name="image"
class="form-control">

</div>
{% if product.category.title == "عطر و ادکلن" %}

<div class="form-group">

    <label>موجودی عطر</label>

    <input
        type="number"
        name="stock"
        class="form-control"
        value="{{ product.stock }}"
        min="0">

</div>

{% endif %}

</div>

<h4 class="mt-4">
موجودی سایزها
</h4>

<table class="table table-bordered">

    <thead>

        <tr>
            <th>سایز</th>
            <th>موجودی</th>
        </tr>

    </thead>

    <tbody>

    {% for size in product.sizes.all %}

        <tr>

            <td>{{ size.size }}</td>

            <td>

                <input
                    type="number"
                    name="stock_{{ size.id }}"
                    value="{{ size.stock }}"
                    class="form-control"
                    min="0">

            </td>

        </tr>

    {% endfor %}

    </tbody>

</table>

<div class="card-footer">

<button class="btn btn-success">
ذخیره تغییرات
</button>

<a href="{% url 'admin_products' %}" class="btn btn-secondary">
بازگشت
</a>

</div>

</form>

</div>

</div>

{% endblock %}