{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

<meta charset="UTF-8">

<title>
تکمیل سفارش | MHS
</title>

<link rel="stylesheet" href="{% static 'css/checkout.css' %}?v=11">

</head>


<body>


<div class="checkout-container">


<h1>
تکمیل سفارش
</h1>



<div class="checkout-box">



<h2>
🛒 محصولات سفارش
</h2>



{% for item in cart_items %}


<div class="cart-item">


<img src="{{ item.product.image.url }}">


<div class="product-info">


<h3>
{{ item.product.title }}
</h3>


<p>
تعداد:
{{ item.quantity }}
</p>
{% if item.color %}

<p class="cart-option">
🎨 رنگ:
{{ item.color.name }}
</p>

{% endif %}


{% if item.size %}

<p class="cart-option">
📏 سایز:
{{ item.size.size }}
</p>

{% endif %}


</div>



<strong>

{{ item.item_price}}

تومان

</strong>


</div>



{% empty %}


<p>
سبد خرید خالی است
</p>


{% endfor %}






<h2>
📍 انتخاب آدرس ارسال
</h2>





<form method="POST">


{% csrf_token %}



{% for address in addresses %}



<div class="address">


<input 

type="radio"

name="address"

value="{{ address.id }}"

required>


<div>


<h4>

{{ address.full_name }}

</h4>


<p>
📞 {{ address.phone }}
</p>


<p>
{{ address.city }}
-
{{ address.address }}
</p>


</div>


</div>



{% empty %}


<p>
آدرسی ثبت نشده
</p>


{% endfor %}






<!-- کد تخفیف -->

<div class="coupon-box">


<h3>
🎁 کد تخفیف
</h3>


<div class="coupon-input-group">


<input

type="text"

id="coupon-input"

placeholder="کد تخفیف را وارد کنید">


<button

type="button"

id="apply-coupon-btn">

اعمال کد

</button>


</div>



<!-- این مقدار موقع ثبت سفارش ارسال میشه -->

<input

type="hidden"

name="coupon"

id="coupon-hidden">



<p id="coupon-message"></p>


</div>







<div class="summary">


<div class="summary-row">

<span>
جمع سفارش
</span>


<strong id="total-price">

{{ total }}

تومان

</strong>


</div>





<div 

class="summary-row text-success"

id="discount-row"

style="display:none;">


<span>
تخفیف
</span>


<strong id="discount-price">

</strong>


</div>






<div class="summary-row total">


<span>
مبلغ قابل پرداخت
</span>


<strong id="final-price">


{{ total}}

تومان


</strong>


</div>



</div>







<button type="submit">

ثبت نهایی سفارش

</button>



</form>






</div>


</div>








<script>


const btn = document.getElementById(
"apply-coupon-btn"
);



btn.addEventListener(
"click",
function(){



let coupon =
document.getElementById(
"coupon-input"
).value;





fetch(
"{% url 'apply_coupon' %}",
{


method:"POST",


headers:{


"X-CSRFToken":
"{{ csrf_token }}",


"Content-Type":
"application/x-www-form-urlencoded"


},


body:new URLSearchParams({

coupon: coupon

})


}

)


.then(
res => res.json()
)


.then(
data => {



const msg =
document.getElementById(
"coupon-message"
);




if(data.success){



// ذخیره کد برای فرم اصلی

document.getElementById(
"coupon-hidden"
).value = coupon;




document.getElementById(
"discount-row"
).style.display =
"flex";




document.getElementById(
"discount-price"
).innerHTML =
"- " +
data.discount +
" تومان";




document.getElementById(
"final-price"
).innerHTML =
data.final +
" تومان";




msg.style.color =
"#28a745";


msg.innerHTML =
"✅ کد تخفیف اعمال شد";



}

else{


msg.style.color =
"red";


msg.innerHTML =
data.message;



}



}

);



}

);



</script>


</body>

</html>