{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

<meta charset="UTF-8">

<title>
جزئیات سفارش
</title>

<link rel="stylesheet" href="{% static 'css/order_detail.css' %}?v=101">

</head>


<body>


<div class="order-detail">



<h1>
جزئیات سفارش #{{ order.id }}
</h1>





<div class="info">



<p>
📅 تاریخ سفارش:
{{ order.created_at|date:"Y/m/d - H:i" }}
</p>



<p>
وضعیت:
{{ order.get_status_display }}
</p>

<!-- قیمت سفارش -->

<div class="price-box">

    <div class="price-row">

        <span>جمع سفارش</span>

        <strong>
            {{ order.total_price|intcomma }}
            تومان
        </strong>

    </div>

    {% if order.discount_amount > 0 %}

    <div class="price-row discount">

        <span>

            🎁 تخفیف

            {% if order.coupon %}
                ({{ order.coupon.code }})
            {% endif %}

        </span>

        <strong>

            -
            {{ order.discount_amount|intcomma }}
            تومان

        </strong>

    </div>

    {% endif %}

    <div class="price-row">

        <span>🚚 هزینه ارسال</span>

        <strong>

            {% if order.is_free_shipping %}

                رایگان 🎉

            {% else %}

                {{ order.shipping_cost|intcomma }}
                تومان

            {% endif %}

        </strong>

    </div>

    <div class="price-row final">

        <span>مبلغ پرداختی</span>

        <strong>

            {{ order.final_price|intcomma }}
            تومان

        </strong>

    </div>

</div>





{% if order.discount_amount > 0 %}


<div class="price-row discount">


<span>

🎁 تخفیف

{% if order.coupon %}

({{ order.coupon.code }})

{% endif %}


</span>



<strong>

-

{{ order.discount_amount}}

تومان

</strong>


</div>


{% endif %}






<div class="price-row final">


<span>
مبلغ پرداختی
</span>


<strong>

{{ order.final_price }}

تومان

</strong>


</div>



</div>

</div>














<!-- آدرس -->


<div class="address-box">


<h2>
📍 آدرس ارسال
</h2>



<p>
👤 نام گیرنده:
{{ order.address.full_name }}
</p>



<p>
📞 شماره تماس:
{{ order.address.phone }}
</p>



<p>
🏙 استان:
{{ order.address.province }}
</p>

<p>
🏙 شهر:
{{ order.address.city }}
</p>

<p>
📍 خیابان:
{{ order.address.street }}
</p>

<p>
🏠 کوچه:
{{ order.address.alley }}
</p>

<p>
🚪 پلاک:
{{ order.address.plaque }}
</p>

{% if order.address.unit %}

<p>
🏢 واحد:
{{ order.address.unit }}
</p>

{% endif %}

<p>
📮 کد پستی:
{{ order.address.postal_code }}
</p>

{% if order.address.description %}

<p>
📝 توضیحات:

{{ order.address.description }}

</p>

{% endif %}


</div>







<!-- لغو سفارش -->


{% if order.status == "pending" %}


<a href="{% url 'cancel_order' order.id %}">


<button class="cancel-btn">

لغو سفارش

</button>


</a>


{% endif %}









<!-- وضعیت سفارش -->


<div class="order-status">



<div class="step active">

<span>✓</span>

<p>
ثبت سفارش
</p>

</div>





<div class="line 
{% if order.status == 'paid' or order.status == 'sent' or order.status == 'done' %}
active-line
{% endif %}">
</div>





<div class="step 
{% if order.status == 'paid' or order.status == 'sent' or order.status == 'done' %}
active
{% endif %}">


<span>
✓
</span>


<p>
پرداخت
</p>


</div>







<div class="line 
{% if order.status == 'sent' or order.status == 'done' %}
active-line
{% endif %}">
</div>







<div class="step 
{% if order.status == 'sent' or order.status == 'done' %}
active
{% endif %}">


<span>
✓
</span>


<p>
ارسال
</p>


</div>








<div class="line 
{% if order.status == 'done' %}
active-line
{% endif %}">
</div>







<div class="step 
{% if order.status == 'done' %}
active
{% endif %}">


<span>
✓
</span>


<p>
تحویل
</p>


</div>




</div>








<h2>
🛒 محصولات
</h2>






{% for item in order.items.all %}



<div class="product">



<img src="{{ item.product.image.url }}">





<div>


<h3>

{{ item.product.title }}

</h3>



<p>

تعداد:
{{ item.quantity }}

</p>

{% if item.color %}

<p>
🎨 رنگ:
{{ item.color.name }}
</p>

{% endif %}


{% if item.size %}

<p>
📏 سایز:
{{ item.size.size }}
</p>

{% endif %}



<p>

قیمت زمان خرید:

{{ item.price}}

تومان

</p>



<p>

جمع:

{{ item.total_price}}

تومان

</p>



</div>



</div>

<div class="tracking-box">

    <h4>کد رهگیری سفارش</h4>

    <div class="tracking-code">

        {{ order.tracking_code }}

    </div>

</div>



{% empty %}



<p>
محصولی وجود ندارد
</p>



{% endfor %}








</div>


</body>


</html>