{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

    <meta charset="UTF-8">

    <title>پرداخت</title>

    <link rel="stylesheet" href="{% static 'css/payment.css' %}?v=22">

</head>

<body>

<div class="payment-box">

    <h1 class="payment-title">

        پرداخت سفارش #{{ order.id }}

    </h1>

    <div class="payment-summary">

        <div class="payment-row">

            <span>جمع سفارش</span>

            <strong>

                {{ order.total_price}} تومان

            </strong>

        </div>

        {% if order.discount_amount > 0 %}

        <div class="payment-row discount">

            <span>

                تخفیف

                {% if order.coupon %}
                    ({{ order.coupon.code }})
                {% endif %}

            </span>

            <strong>

                - {{ order.discount_amount}} تومان

            </strong>

        </div>

        {% endif %}

        <div class="payment-row final">

            <span>مبلغ قابل پرداخت</span>

            <strong>

                {{ order.final_price}} تومان

            </strong>

        </div>

    </div>

    <form method="POST">

        {% csrf_token %}

        <button type="submit" class="pay-btn">

            پرداخت موفق

        </button>

    </form>

</div>

</body>

</html>