{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Privacy Policy | MHS Store</title>
  <link rel="stylesheet" href="{% static 'css/privacy.css' %}?v=101">
</head>
<body>

  <!-- HERO -->
  <section class="hero">
    <div class="overlay"></div>
    <div class="hero-content">
      <h1>حریم خصوصی</h1>
      <p dir="rtl">در فروشگاه <span dir="ltr">MHS</span>، حفظ حریم خصوصی شما اولویت ماست.</p>
    </div>
  </section>

  <!-- CONTENT -->
  <main class="container">

    <div class="card">
      <h2>اطلاعاتی که جمع‌آوری می‌کنیم</h2>
      <p>ما برای ارائه تجربه خرید بهتر، اطلاعاتی مانند نام، آدرس ایمیل، آدرس محل دریافت سفارش و جزئیات سفارش‌های شما را جمع‌آوری می‌کنیم</p>
    </div>

    <div class="card">
      <h2>نحوه استفاده از اطلاعات شما</h2>
      <p>اطلاعات شما تنها برای پردازش سفارش‌ها، ارائه پشتیبانی به مشتریان و بهبود خدمات فروشگاه مورد استفاده قرار می‌گیرد</p>
    </div>

    <div class="card">
      <h2>کوکی‌ها</h2>
      <p>ما از کوکی‌ها برای بهبود تجربه کاربری، ذخیره تنظیمات و افزایش عملکرد وب‌سایت استفاده می‌کنیم</p>
    </div>

    <div class="card">
      <h2>امنیت اطلاعات</h2>
      <p>تمامی اطلاعات کاربران با استفاده از روش‌های امنیتی پیشرفته، رمزنگاری داده‌ها و سرورهای امن محافظت می‌شوند</p>
    </div>

    <div class="card">
      <h2>خدمات شخص ثالث</h2>
      <p>ممکن است برای تکمیل سفارش‌ها و ارائه خدمات بهتر، از درگاه‌های پرداخت و شرکت‌های حمل‌ونقل معتبر استفاده کنیم</p>
    </div>

    <div class="card">
      <h2>حقوق کاربران</h2>
      <p>ما به حقوق و حریم خصوصی کاربران احترام می‌گذاریم. شما این حق را دارید که در هر زمان درخواست مشاهده، اصلاح، به‌روزرسانی یا حذف اطلاعات شخصی خود را از سیستم ما ارائه دهید</p>
    </div>

  </main>

  <!-- FOOTER -->
  <footer>
    <p dir="rtl">
    © 2026 <span dir="ltr">MHS Store</span> | تمامی حقوق محفوظ است.
   </p>
  </footer>

</body>
</html>