{% load humanize %}

{% load static %}



<link rel="stylesheet" href="{% static 'css/product_detail.css' %}?v=107">



<div class="product-detail">

<div class="product-container">

    <!-- سمت چپ : گالری تصاویر -->

    <div class="gallery">

        <div class="main-image">

            <img
                id="mainProductImage"
                src="{{ product.image.url }}"
                alt="{{ product.title }}"
            >

        </div>

        <div class="gallery-images">

            <img
                class="thumb active"
                src="{{ product.image.url }}"
                onclick="changeImage(this)"
            >

            {% for image in images %}

                <img
                    class="thumb"
                    src="{{ image.image.url }}"
                    onclick="changeImage(this)"
                >

            {% endfor %}

        </div>

    </div>




    <!-- سمت راست : اطلاعات -->

    <div class="product-info">

        <h1>

            {{ product.title }}

        </h1>

        <div class="price">

            {{ product.price}}

            تومان

        </div>

        <div class="description">

            {{ product.content }}

        </div>
        {% if product.category.title == "عطر و ادکلن" %}

<div class="perfume-specs">

    <div class="spec-card">
        <div class="spec-icon">🧴</div>
        <div>
            <span>حجم</span>
            <strong>{{ perfume_detail.volume }}</strong>
        </div>
    </div>

    <div class="spec-card">
        <div class="spec-icon">⏳</div>
        <div>
            <span>ماندگاری</span>
            <strong>{{ perfume_detail.longevity }}</strong>
        </div>
    </div>

    <div class="spec-card">
        <div class="spec-icon">🍂</div>
        <div>
            <span>فصل مناسب</span>
            <strong>{{ perfume_detail.season }}</strong>
        </div>
    </div>

</div>

{% else %}

        <!-- رنگ‌ها -->

<div class="option-title">

    رنگ

</div>

<div class="color-options">

    {% for color in colors %}

        <label class="color-item">

            <input
                type="radio"
                name="color"
                value="{{ color.id }}"
                {% if forloop.first %}checked{% endif %}
            >

            <span
                class="color-circle"
                style="background:{{ color.color_code }};"
                title="{{ color.name }}"
            ></span>

            <small>{{ color.name }}</small>

        </label>

    {% empty %}

        <p>رنگی ثبت نشده است.</p>

    {% endfor %}

</div>




<!-- سایز -->

<div class="option-title">

    سایز

</div>

<div class="size-options">

    {% for size in sizes %}

        {% if size.stock > 0 %}

            <label class="size-item">

                <input
                    type="radio"
                    name="size"
                    value="{{ size.id }}"
                    {% if forloop.first %}checked{% endif %}
                >

                <span>

                    {{ size.size }}

                </span>

            </label>

        {% else %}

            <span class="size-disabled">

                {{ size.size }}

            </span>

        {% endif %}

    {% empty %}

        <p>سایزی ثبت نشده است.</p>

    {% endfor %}


</div>
{% endif %}



<!-- موجودی -->

<div class="stock-status">

{% if product.category.title == "عطر و ادکلن" %}

    {% if product.stock > 0 %}

        <span class="in-stock">
            ✔ موجود در انبار ({{ product.stock }} عدد)
        </span>

    {% else %}

        <span class="out-stock">
            ✖ ناموجود
        </span>

    {% endif %}


{% else %}

    {% if product.total_stock > 0 %}

        <span class="in-stock">
            ✔ موجود در انبار ({{ product.total_stock }} عدد)
        </span>

    {% else %}

        <span class="out-stock">
            ✖ ناموجود
        </span>

    {% endif %}


{% endif %}

</div>

<!-- تعداد محصول -->

<div class="option-title">

    تعداد

</div>

<div class="quantity-box">

    <button type="button" onclick="decreaseQty()">

        -

    </button>

    <input
        type="number"
        id="qty"
        value="1"
        min="1"
        max="20"
    >

    <button type="button" onclick="increaseQty()">

        +

    </button>

</div>


<!-- دکمه افزودن به سبد خرید -->

<div class="cart-btn-wrapper">

{% if product.category.title == "عطر و ادکلن" %}

    {% if product.stock > 0 %}

        <button
            type="button"
            class="add-to-cart"
            data-id="{{ product.id }}">
            🛒 افزودن به سبد خرید
        </button>

    {% else %}

        <button
            class="add-to-cart"
            disabled>
            ❌ ناموجود
        </button>

    {% endif %}

{% else %}

    {% if product.total_stock > 0 %}

        <button
            type="button"
            class="add-to-cart"
            data-id="{{ product.id }}">
            🛒 افزودن به سبد خرید
        </button>

    {% else %}

        <button
            class="add-to-cart"
            disabled>
            ❌ ناموجود
        </button>

    {% endif %}

{% endif %}

</div>





<!-- علاقه مندی -->

<div style="margin-top:20px;">

<button
    class="wishlist-btn"
    data-id="{{ product.id }}"
>
    <span class="heart">🤍</span>
    <span class="text">افزودن به علاقه‌مندی</span>
</button>

</div>





<!-- اطلاعات کوتاه -->

<div class="product-meta">

    <p>

        <strong>دسته بندی :</strong>

        {{ product.category }}

    </p>

    <p>

        <strong>کد محصول :</strong>

        #{{ product.id }}

    </p>

</div>

</div> <!-- پایان product-info -->

</div> <!-- پایان product-container -->

<!-- محصولات مشابه -->

<section class="related-products">

    <h2>

        محصولات مشابه

    </h2>

    <div class="related-grid">

        {% for item in related_products %}

        <div class="related-card">

            <a href="{% url 'product_detail' item.slug %}">

                <img
                    src="{{ item.image.url }}"
                    alt="{{ item.title }}"
                >

            </a>

            <h4>

                {{ item.title }}

            </h4>

            <p>

                {{ item.price }}

                تومان

            </p>

            <a
                href="{% url 'product_detail' item.slug %}"
                class="view-product-btn"
            >

                مشاهده محصول

            </a>

        </div>

        {% empty %}

        <p>

            محصول مشابهی وجود ندارد.

        </p>

        {% endfor %}

    </div>

</section>

<div id="toast" class="toast-message"></div>




<script>
function increaseQty(){

    let qty = document.getElementById("qty");

    qty.value = parseInt(qty.value) + 1;

}

function decreaseQty(){

    let qty = document.getElementById("qty");

    if(parseInt(qty.value) > 1){

        qty.value = parseInt(qty.value) - 1;

    }

}

function showToast(message,type){

    const toast = document.getElementById("toast");

    toast.innerText = message;

    toast.className = "toast-message show " + type;

    setTimeout(function(){

        toast.className = "toast-message";

    },3000);

}

function getCookie(name){

    let cookieValue = null;

    if(document.cookie && document.cookie !== ""){

        const cookies = document.cookie.split(";");

        for(let cookie of cookies){

            cookie = cookie.trim();

            if(cookie.startsWith(name + "=")){

                cookieValue = decodeURIComponent(
                    cookie.substring(name.length + 1)
                );

                break;

            }

        }

    }

    return cookieValue;

}

document.addEventListener("DOMContentLoaded",function(){

    /* افزودن به سبد خرید */

    const cartBtn = document.querySelector(".add-to-cart");

    if(cartBtn){

        cartBtn.addEventListener("click",function(){

            const color = document.querySelector(
                'input[name="color"]:checked'
            );

            const size = document.querySelector(
                'input[name="size"]:checked'
            );

            fetch(`/add-to-cart/${this.dataset.id}/`,{

                method:"POST",

                headers:{

                    "X-CSRFToken":getCookie("csrftoken"),
                    "X-Requested-With":"XMLHttpRequest",
                    "Content-Type":"application/x-www-form-urlencoded"

                },

                body:
                `color=${color ? color.value : ""}&size=${size ? size.value : ""}`

            })

            .then(response => response.json())

            .then(data => {

               console.log(data);

                if(data.login_required){

                    showToast(
                      "ابتدا وارد حساب کاربری شوید.",
                      "warning"
                    );

                  // اگر خواستی بعد از ۱.۵ ثانیه مودال ورود باز شود
                    setTimeout(() => {
                       const modal = new bootstrap.Modal(
                           document.getElementById("modallogin")
                        );
                        modal.show();
                    }, 1500);

                    return;
               }

                if(data.added){

                    showToast(
                     "محصول با موفقیت به سبد خرید اضافه شد",
                     "success"
                    );

                }else{

                   showToast(
                     data.message,
                     "error"
                    );

                }

            })

            .catch(error=>{

                console.log(error);

            });

        });

    }
/* علاقه مندی */

const wishlistBtn = document.querySelector(".wishlist-btn");

if (wishlistBtn) {

    wishlistBtn.addEventListener("click", function () {

        const btn = this;

        fetch(`/wishlist/toggle/${btn.dataset.id}/`, {

            method: "POST",

            headers: {
                "X-CSRFToken": getCookie("csrftoken"),
                "X-Requested-With": "XMLHttpRequest",
            }

        })

        .then(res => res.json())

        .then(data => {

            if (data.login_required) {

                showToast(
                    data.message,
                    "error"
                );

                return;
            }

            const heart = btn.querySelector(".heart");
            const text = btn.querySelector(".text");

            if (data.liked) {

                heart.textContent = "❤️";
                text.textContent = "در علاقه‌مندی‌ها";

            } else {

                heart.textContent = "🤍";
                text.textContent = "افزودن به علاقه‌مندی";

            }

        })

        .catch(error => {

            console.log(error);

        });

    });

}
});
</script>