{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terms & Conditions - MHS Store</title>
  <link rel="stylesheet" href="{% static 'css/terms.css' %}">
</head>
<body>

  <header class="header">
    <h1>قوانین و مقررات فروشگاه لوکس کفش و عطر</h1>
    
  </header>

  <main class="container">

    <section class="card">
      <h2>مقدمه</h2>
      <p>با استفاده از وب‌سایت ما، شما موافقت می‌کنید که تمام قوانین و شرایطی که در این صفحه نوشته شده را رعایت کنید</p>
    </section>

    <section class="card dark">
      <h2>مسئولیت کاربران</h2>
      <p>کاربران باید اطلاعات درست و دقیق ارائه دهند و از وب‌سایت به صورت قانونی و با احترام استفاده کنند</p>
    </section>

    <section class="card">
      <h2>سفارش و پرداخت</h2>
      <p>تمام سفارش‌ها باید قبل از پردازش به‌طور کامل پرداخت شوند. ما این حق را داریم که سفارش‌های مشکوک را لغو کنیم</p>
    </section>

    <section class="card dark">
      <h2>ارسال سفارش</h2>
      <p>زمان تحویل به موقعیت جغرافیایی بستگی دارد. زمان تقریبی ارسال در مرحله پرداخت  به شما نمایش داده می‌شود</p>
    </section>

    <section class="card">
      <h2>بازگشت و بازپرداخت</h2>
      <p>بازگشت کالا فقط در یک بازه زمانی محدود پذیرفته می‌شود، به شرطی که محصول استفاده نشده باشد و در بسته‌بندی اصلی خود قرار داشته باشد</p>
    </section>

    <section class="card dark">
      <h2>حریم خصوصی</h2>
      <p>اطلاعات شخصی شما محافظت می‌شود و فقط برای پردازش سفارش‌ها و ارائه خدمات پشتیبانی مشتری استفاده خواهد شد</p>
    </section>

    <section class="card">
      <h2>فعالیت‌های ممنوع</h2>
      <p>تقلب، سوءاستفاده و هرگونه فعالیت غیرقانونی در این پلتفرم کاملاً ممنوع است</p>
    </section>

    <section class="card dark">
      <h2>اطلاعات تماس</h2>
      <p>Email: mahsakhodadadi17@gmail.com</p>
      <p>Phone: +98 </p>
    </section>

  </main>

  <footer class="footer">
     <p dir="rtl">
       © 2026 <span dir="ltr">MHS Store</span> | تمامی حقوق محفوظ است.
      </p>
  </footer>

  <script src="{% static 'js/terms.js' %}"></script>
</body>
</html>