
.pwd-wrapper {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #f5f5f5;
}

/* فرم */
.pwd-wrapper form {
    width: 420px;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    border-top: 4px solid #D4AF37;
}

/* عنوان */
.pwd-wrapper h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* input ها */
.pwd-wrapper input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

/* دکمه */
.pwd-wrapper button {
    width: 100%;
    padding: 12px;
    background: #D4AF37;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.pwd-wrapper button:hover {
    background: #000;
    color: #D4AF37;
}