body{

background:#0a0a0a;

color:white;

font-family:Segoe UI;

}



.checkout-container{

width:90%;

max-width:900px;

margin:50px auto;

}



h1,h2{

color:#D4AF37;

}



.checkout-box{

background:#111;

padding:40px;

border-radius:25px;

border:1px solid rgba(212,175,55,.3);

}



.cart-item{

display:flex;

align-items:center;

justify-content:space-between;

background:#181818;

padding:20px;

margin:15px 0;

border-radius:15px;

}



.cart-item img{

width:80px;

height:80px;

object-fit:cover;

border-radius:15px;

}



.product-info{

flex:1;

margin-right:20px;

}



.address{

display:flex;

gap:20px;

align-items:center;

background:#181818;

padding:20px;

border-radius:15px;

margin:15px 0;

border:1px solid #222;

}



.address input{

accent-color:#D4AF37;

}



.summary{

margin-top:30px;

padding:25px;

background:#181818;

border-radius:20px;

display:flex;

justify-content:space-between;

font-size:20px;

}



button{

margin-top:30px;

width:100%;

padding:18px;

border:none;

border-radius:15px;

background:#D4AF37;

font-weight:bold;

font-size:18px;

cursor:pointer;

}


button:hover{

transform:translateY(-3px);

}