body{

    margin:0;

    padding:0;

    background:#0b0b0b;

    color:white;

    font-family:tahoma, sans-serif;

    direction:rtl;

}




.box{

    width:400px;

    margin:100px auto;

    background:#151515;

    padding:40px;

    border-radius:20px;

    box-shadow:0 0 30px rgba(212,175,55,0.2);

    text-align:center;

}




.box h2{

    color:#d4af37;

    margin-bottom:30px;

    font-size:28px;

}





.box input{

    width:90%;

    padding:15px;

    border-radius:12px;

    border:1px solid #333;

    background:#0b0b0b;

    color:white;

    font-size:16px;

    outline:none;

    margin-bottom:25px;

}




.box input:focus{

    border-color:#d4af37;

}




.box button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:30px;

    background:#d4af37;

    color:#111;

    font-weight:bold;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}




.box button:hover{

    background:#f2c94c;

    transform:translateY(-3px);

}