body{

background:#050505;
color:white;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
font-family:Arial;

}


.login-box{

background:#111;
padding:40px;
border-radius:20px;
border:1px solid #d4af37;
width:350px;
text-align:center;

}



.logo{

font-size:35px;
color:#d4af37;

}



input{

width:100%;
padding:15px;
margin:10px 0;
background:#000;
border:1px solid #333;
color:white;

}



button{

width:100%;
padding:15px;
background:#d4af37;
border:none;
cursor:pointer;

}



a{

color:#d4af37;

}