body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: #fff;
}

/* HERO */
.hero {
  height: 150px;
  background: url('https://images.unsplash.com/photo-1520975916090-3105956dac38') center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
}

.hero-content {
  position: relative;
  text-align: center;
}

.hero h1 {
  font-size: 42px;
  color: #d4af37;
  margin: 0;
}

.hero p {
  color: #ffffff;
}

/* CONTAINER */
.container {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

/* CARDS */
.card {
  background: #1a1a1a;
  padding: 20px;
  margin-bottom: 20px;
  border-left: 4px solid #fff;
  border-radius: 8px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  border-left: 4px solid #d4af37;
}

.card h2 {
  color: #d4af37;
}

/* HIGHLIGHT BOX */
.highlight {
  background: #111;
  border-left: 4px solid #d4af37;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #000;
  color: #888;
  margin-top: 40px;
}


/* alternating cards white & black */

.card:nth-child(odd) {
  background: #fff;
  color: #111;
  border-left: 4px solid #d4af37;
}


.card:nth-child(odd) p {
  color: #000000;
}



.card:nth-child(even) {
  background: #111;
  color: #fff;
  border-left: 4px solid #d4af37;
}


.card:nth-child(even) p {
  color: #ffffff;
}


.card h2 {
  color: #d4af37;
}