{% extends "admin_base.html" %}

{% block title %}
افزودن کاربر
{% endblock %}


{% block page_title %}
افزودن کاربر جدید
{% endblock %}


{% block breadcrumb %}
افزودن کاربر
{% endblock %}



{% block content %}

<div class="container-fluid">

    <div class="card shadow">

        <div class="card-header">

            <h3 class="card-title">

                <i class="fas fa-user-plus text-primary"></i>

                ایجاد کاربر جدید

            </h3>

        </div>


        <form method="POST">

            {% csrf_token %}


            <div class="card-body">


                <div class="row">


                    <div class="col-md-6">

                        <div class="form-group">

                            <label>نام کاربری</label>

                            <input 
                                type="text"
                                name="username"
                                class="form-control"
                                placeholder="نام کاربری را وارد کنید"
                                required>

                        </div>

                    </div>



                    <div class="col-md-6">

                        <div class="form-group">

                            <label>ایمیل</label>

                            <input 
                                type="email"
                                name="email"
                                class="form-control"
                                placeholder="example@email.com">

                        </div>

                    </div>




                    <div class="col-md-6">

                        <div class="form-group">

                            <label>رمز عبور</label>

                            <input 
                                type="password"
                                name="password"
                                class="form-control"
                                placeholder="رمز عبور"
                                required>

                        </div>

                    </div>



                    <div class="col-md-6">

                        <div class="form-group">

                            <label>تکرار رمز عبور</label>

                            <input 
                                type="password"
                                name="password2"
                                class="form-control"
                                placeholder="تکرار رمز عبور"
                                required>

                        </div>

                    </div>



                    <div class="col-md-6">

                        <div class="form-group">

                            <label>نقش کاربر</label>

                            <select 
                                name="role"
                                class="form-control">


                                <option value="user">
                                    کاربر عادی
                                </option>


                                <option value="staff">
                                    مدیر
                                </option>


                                <option value="superuser">
                                    ادمین اصلی
                                </option>


                            </select>

                        </div>

                    </div>



                    <div class="col-md-6">

                        <div class="form-group">

                            <label>وضعیت حساب</label>


                            <select 
                                name="status"
                                class="form-control">


                                <option value="active">
                                    فعال
                                </option>


                                <option value="inactive">
                                    غیرفعال
                                </option>


                            </select>


                        </div>

                    </div>



                </div>


            </div>



            <div class="card-footer">


                <button 
                    type="submit"
                    class="btn btn-primary">


                    <i class="fas fa-save"></i>

                    ذخیره کاربر


                </button>



                <a 
                    href="{% url 'admin_users' %}"
                    class="btn btn-secondary">


                    <i class="fas fa-arrow-right"></i>

                    بازگشت


                </a>


            </div>


        </form>


    </div>


</div>


{% endblock %}