*{
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}


body{

    background:#0b0b0b;
    color:white;

}


.edit-container{

    width:90%;
    max-width:600px;
    margin:60px auto;
    background:#111;
    padding:40px;

    border-radius:20px;

    border:1px solid rgba(212,175,55,.3);

    box-shadow:0 20px 50px rgba(0,0,0,.6);

}



.edit-container h1{

    text-align:center;
    color:#d4af37;

    margin-bottom:35px;

}



.profile-image{

    text-align:center;
    margin-bottom:30px;

}


.profile-image img{

    width:120px;
    height:120px;

    border-radius:50%;

    object-fit:cover;

    border:3px solid #d4af37;

}



.form-group{

    margin-bottom:20px;

}


.form-group label{

    display:block;

    margin-bottom:8px;

    color:#d4af37;

}



.form-group input{

    width:100%;

    padding:14px;

    background:#181818;

    border:1px solid #333;

    color:white;

    border-radius:10px;

    outline:none;

}



.form-group input:focus{

    border-color:#d4af37;

}



.save-btn{

    width:100%;

    padding:15px;

    margin-top:20px;

    background:#d4af37;

    color:black;

    border:none;

    border-radius:30px;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}



.save-btn:hover{

    transform:translateY(-3px);

    background:white;

}